.side-nav-item {
    border-radius: 8px!important;
    display: block!important;
    line-height: 20px!important;
    padding: 6px 12px!important;
    text-decoration: none!important;
  }

  
  .side-nav-item-text .MuiTypography-root{
    font-weight: 600;
    font-family: "yuanti tc"!important;
    font-size: 1rem;
    line-height: 1.25rem;
  }